__pycache__/
/__pycache__/

# Ignore generated directories
#generated/
*/generated/

# macOS specific files
.DS_Store

# twine/Pypi files
dist/

# docs source files
docs_source/

# llm response logs
**/response.txt
